topic {
  color: #222028;
  background-color: #ffbc48;
  font-weight: bolder;
}
.socialmedia {
  text-align: right;
}
.header-nobullets {
  color: #ffffff;
  font-weight: 900;
  font-size: large;
  text-transform: uppercase;
  list-style-type: none;
  padding:  1rem;
  margin: 1rem;
}

article {
  background-color: #353a42 ;
}
.nav-nobullets {
  color: #ffbc48;
  font-weight: 900;
  font-size: large;
}

main {
  background-color: #FFFFFF;
}
header {
  background-color: #222028;
  color: #FFFFFF;
}