
topic {
  color: #222028;
  background-color: #ffbc48;
  font-weight: 900;
  padding: 1px 2px 1px 2px;
  margin: 5px 5px 20px 0px;
  /*margin: 1rem;*/
}
.header-p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
margin: 16px 0px 16px 0px;
}

body {
  margin: 0px;
  
}
header {
  background-image:url(/img/ingredients-480w.jpg);
  background-size: 150%;
  background-position: top;
  background-color: #222028;
  color: #FFFFFF;
  background-blend-mode: overlay;
  padding: 35px 5px 5px 16px;
}
h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  text-align: left;
  padding: 0px;
  margin: 12px 0px 8px 0px;
}
h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
  font-weight: 900;  
  text-transform: uppercase;
  margin: 14px 0px;
  
}
u {
  color: #ffbc48;
  font-weight: 900;
}
main {
  background-color: #FFFFFF;
  padding: 15px;
  
}
ol {
  padding: 15px;
  margin: 0px 0px;
}
p {
  margin: 15px 0px;
}
footer {
  color: #FFFFFF;
  padding: 15px;
}

.main-p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5rem;
  
}
.list {
  padding: 0rem 0rem 0rem 1rem;
}
.main-process-list {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;

}



.header-nobullets {
  color: #ffffff;
  font-weight:900;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  line-height: 1.5rem;
  padding:  1rem 0rem 1rem 0rem;
 
}

article {
  background-color: #222028 ;
}
.nav-nobullets {
  color: #ffbc48;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  list-style-type: none;
  line-height: 1.9rem;
  padding: 0em 1em 0em 1em;
   
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin: 2px;
  
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #ffbc48;
  color: #222028;
  
}
.fa-twitter {
  background: #ffbc48;
  color: #222028;
}
.fa-instagram {
  background: #ffbc48;
  color: #222028;