/* Style to keep the heigh to 100% of the page */
html, body {
  height: 100%;
}

/*Smallest Portion view no margin */
/* Largest Portion view background color */
body {
  background-color: #d395d3;
  margin: 0;
}

/* Style to insert and blend the header background image */
header {
  background-image: url("../img/ingredients-960w.jpg");
  background-size: cover;
  background-position: center;
  background-color: #222028;
  background-blend-mode: soft-light;
  color: #FFFFFF;
  padding: 35px 5px 5px 16px;
}

/* Highlights styles */
span {
  background-color: #9141c0;
  color: #03000c;
  font-weight: 900;
  margin: 5px 5px 20px 0px;
  padding: 1px 2px 1px 2px;
}

/* Navigation Menu */
/* remove bullet points from list */
/* remove standard anchor tag styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Style for the Head Title */
h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin: 12px 0px 8px 0px;
  padding: 0px;
  text-align: left;
}

/* Style for the main content topics*/
h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
  font-weight: 900;
  margin: 14px 0px;
  text-transform: uppercase;
}

/* Process steps title style */
h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  margin-top: 1rem;
}

/* Setting a background color to the main content */
main {
  background-color: #FFFFFF;
  /* padding: 15px; */
}

/* Underlined text style */
u {
  color: #9141c0;
  font-weight: 900;
}

/* Basic styles for all IMG */
img {
  border-radius: 10px;
  max-width: 100%;
}

/* Story quote style*/
blockquote {
  background-color: #f1f0f0;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #9141c0;
  color: #666666;
  font-style: italic;
  margin-left: 5px;
  margin-right: 20px;
  padding-left: 10px;
  text-align: center;
}

/* Table's general style */
table {
  border: 0.5px solid #666666;
  border-spacing: 0ex;
  width: 100%;
}

/* Columns header style */
thead {
  font-weight: bolder;
}

/* Columns data alignment */
td, th {
  border: 0.5px solid #666666;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

/* row's color style */
tr:nth-child(odd) {
  background-color: #d7b1e9;
}

/* color style for the header */
tr.table-head {
  background-color: white;
}

/* Artucle section background color */
.article {
  background-color: #222028;
}

/* Header list style */
.header-nobullets {
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5rem;
  list-style-type: none;
  padding: 1rem 0rem 1rem 0rem;
  text-transform: uppercase;
}

/* Basic Navigation Menu Style */
.nav-nobullets {
  color: #9141c0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  justify-content: space-between;
  list-style-type: none;
  line-height: 1.9rem;
  padding: 0em 0em 0em 1em;
}

/* Basic Navigation menu hover style */
.nav-nobullets li:hover {
  /* background-color: #9141c0; */
  background-image: linear-gradient(#d08df6,#9141c0,#b761e9);
  color: #ffffff;
  font-size: 18px;
}

/* Header paragraph style */
.header-p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 16px 0px 16px 0px;
  text-align: left;
}



/* Style for the main tag */
.main-p {
  display: grid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5rem;
}

/* padding defined for Ingredients and Equipments list */
.list {
  padding: 0rem 0rem 0rem 1rem;
}

/* Define the style for the left content on the footer */
.footcontainer {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

/* Style for the p tags on the footer */
.foot {
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Basic style for social media buttons */
.fa {
  border-radius: 5px;
  font-size: 11px;
  margin: 4px;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  width: 20px;
}

/* Social media buttons hover */
.fa:hover {
  color: #ffffff;
}

/* facebook button style */
.fa-facebook {
  background: #9141c0;
  color: #222028;
}

/* Twitter button style */
.fa-twitter {
  background: #9141c0;
  color: #222028;
}

/* Instagram Style */
.fa-instagram {
  background: #9141c0;
  color: #222028;
}

/* Div style to be positioned in the right side */
.socialmedia {
  float: right;
}

/* Padding format to the sidebar grid content */
.sidebar {
  padding-left: 15px;
  padding-right: 15px;
}

/* Padding format to the main-content grid content */
.main-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Navigation Menu box style */
.nav-box {
  /* background-color: #222028; */
  background-image: linear-gradient(#3c3846,#222028, #3c3846);
}

/* Media query for the Medium Portion view */
@media screen and (min-width: 750px) {
 
 /* Article size limitation */
  .article {
    display:flow-root;
    max-width: 1000px;
    margin: 0 auto;
    width: 70%;
  }

  /* Header size limitation */
  .header-p {
    max-width: 70%;
  }

  /* Status list style for medium and large portion view */
  .header-nobullets {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-around;
    line-height: 1.5rem;
    list-style-type: none;
    max-width: 750px;
    padding: 1rem 0rem 1rem 0rem;
    text-transform: uppercase;
  }

    /* Status list style for medium and large portion view */
  .header-nobullets li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

    /* Navigation menu style for medium and large portion view */
  .nav-nobullets {
    color: #9141c0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    list-style-type: none;
    margin: inherit;
    max-width: 600px;
    padding: 0em 2em 0em 1em;
  }

  /* Padding for navigation menu items */
  .nav-nobullets li {
    padding: 10px;
  }

  /* Grid formating for Medium view port */
  .main-p {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "topbar topbar" 
    "sidebar  main-content" 
    "sidebar  main-content" 
    "sidebar  main-content" 
    "sidebar  main-content";
    padding: 0px;
    margin: 0px;
  }

  /* Navigation menu grid position */
  .nav-box {
    grid-area: topbar;
    padding: auto;
  }

    /* Sidebar menu grid position */
  .sidebar {
    background-color: #9141c0;
    color: #222028;
    grid-area: sidebar;
    max-width: 280px;
    padding: 25px;
  }
  /* Padding Main Content */
  .main-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Media query for the Largest Portion View */
@media screen and (min-width: 1200px) {
  .main-p {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "sidebar topbar" 
    "sidebar  main-content" 
    "sidebar  main-content" 
    "sidebar  main-content" 
    "sidebar  main-content";
    padding: 0px;
  }
.sidebar {
  grid-area: sidebar;

}
.nav-box {
  grid-area: topbar;
  padding: auto;
}
.main-content {
  padding-left: 15px;
  padding-right: 15px;
}
}